.agignore
.rgignore
.*.sw[po]
node_modules/
package-lock.json

# written by ~/lightd, nothing reads it
pytradfri/devices.json

# rewritten by cron every 3h
home/_fvwm/preferences/LastChoosenWallpaper
