# m h  dom mon dow   command

14 17 * * * [ -d ~/bbccomedy ] && podget -s
22 */4 * * * [ `find .fvwm/preferences/LastChoosenWallpaper -mmin +180 | wc -l` = 1 ] && PATH=~/bin:/usr/local/bin:$PATH DISPLAY=:0 ~/wallpapers/.random.sh
11 21 * * */3 for i in ~/.vim/bundle/*; do git -C $i pull; done

#* * * * * ~/temper/measure.sh
